/*###################
#       Body        #
###################*/
/* BODY部 */
BODY {
	font-family: Courier, monospace;
	font-size: 1.6rem;
	padding: 0 2rem;
	color: rgb(20%,20%,20%);
	background: rgb(97%,97%,97%);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 300px ; /* 左側の横サイズを 300 ピクセルとします */
	}  
  * html body{
	min-height: 100%;
	} 
/* 疑似フレーム left部 */
	div#Left_area {
	overflow-y: auto;
	font-size: 13px;
	position: fixed !important;
	background-color : rgb(97%,97%,97%) ;
	border-right: 1px solid rgb(201, 201, 201) ;
	left:0;
	margin:0;
	padding:0;
	top:0;
	width:290px;/* bodyで設定した幅-10 */
	height:100%;
	list-style-type: none;
}
/* 疑似フレーム right部 */
	* html div#Main_area{
	height: 100%;
	margin:0 0 0 310px;/* bodyで設定した幅+10 */
	padding:0;
	max-width: 500px; /* 幅を指定する必要あり */
	word-break : break-all;
	white-space: nowrap;
	}
/* Setting the baseline font */
html {
	font-size: 10px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
/* HEADER */
header {
	text-align: center;
}
header a, header a:link {
	text-decoration: none;
}
/* Main area table */
div#Main_area table {
	border-collapse: collapse;
}
div#Main_area table tr th,
div#Main_area table tr td {
    padding: 0 10px;
	border: 1px solid  rgb(116, 116, 116);
    vertical-align: middle;/*中央(上下)位置*/
}
div#Main_area table tr th {
    text-align: center;
}
div#Main_area table tr:nth-child(odd) td { /*偶数行のみ*/
	background: #e6e6e6;
}

/*###################
#       text        #
###################*/
/* h1~h6 */
h1, h2, h3, h4, h5, h6 {
	margin:0.8rem 0;
	color:black;
}
/* hr */
hr {
	margin: 2rem 0;
	clear:both;
	display:block;
	text-align:center;
	color: rgb(20%,20%,20%);
}
/* head link */
header a, header a:link,header a:visited {
	text-decoration: none;
}
/* link */
a,a:link,a:visited  {
	color: rgb(0, 0, 0);
	text-decoration: underline;
}
/* link on cursor */
a:hover {
	color: rgb(107, 107, 107);
}
/* lists(ul,ol,li) */
ul, ol {
	padding: 0;
}
ul {
	list-style-type: circle;
}
li:before {
	content:"・ ";
}
/* Main area li code */
div#Left_area li:before {
	content:"▶ ";
	color:#9fc9dd;
}
div#Left_area li {
	margin: 0px 0px 0px 0px;
}
/* source code */
code {
	padding:0.3em 0.3em 0.5em 0em;
	margin:0px; 
	font-family: Courier, monospace;
	font-size: 1.2rem;
	background: rgb(211, 211, 211);
}
/* BLOCKQUOTES(引用) */
blockquote{
	margin:10px;
	font-family: Courier, monospace;
	font-size: 1.2rem;
	background: rgb(211, 211, 211);
}

/*#########################
#    部品：button          #
#########################*/
/* レイアウト */
.share_btn2{
    display: inline-block;
    text-decoration: none;
	width: 80px;
	font-size: 11px;
	padding:10px 0 10px;
	color:rgb(255, 255, 255);
    border-radius: 15px; /*角度*/
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
/* on cursor */
.share_btn2:hover{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
	transform: translateY(-5px);
	color:rgb(255, 255, 255);
}
/* background */
.share_btn2.shtw {background: #22b8ff;}
.share_btn2.shfb {background: #6680d8;}
.share_btn2.shhtb {background: #49a8fb;}
.share_btn2.shall {background: #ff6d82;}
.share_btn2.shfdly {background: #7bda72;}
.share_btn2.shgp {background: #fd6969;}

/*#########################
#    部品：logo            #
#########################*/
/* レイアウト */
.logo {
    width:150px;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:15px 0 15px;
    background-color:#9fc9dd;
	border-radius:25px;
}
/* on cursor */
.logo:hover {
    background-color:#b6d9e9;
	text-decoration: none;
	color: #517a8d;
}

/*#########################
#         未分類           #
#########################*/
.side_table {
	padding: 10px ;
	/*border: 1px solid rgb(201, 201, 201) ;*/
	width:100%;
}
	
	/* ALL HORIZONTAL ALIGNMENT */
	
	/*.All_frame { max-width: 1024px; min-width: 1024px; margin:auto; }*/
	.center { width: 60%; margin: auto; }
	.center50 { width: 50%; margin: auto; }
	.center60 { width: 60%; margin: auto; }
	.center90 { width: 90%; margin: auto; }
	
	/* FOOTER */
	
	footer {
		margin-top:3em;
		margin-bottom:3em;
		margin-left: auto;
		margin-right: auto;
		clear:both;
		text-align:left;
		font-size:1.3rem;
		font-weight:normal;
	}
	footer a, footer a:link{
		color: black;
		text-decoration: none;
	}
	
	/* NAVIGATION */
	
	#breadcrumb{
		list-style-type: none;
		text-transform: capitalize;
	}
	#board-navigation {
		font-size: 1.6rem;
	}
	#board-navigation a, #board-navigation a:link{
		text-decoration: none;
	}
	#board-navigation a:hover {
		color: black;
		text-decoration: none;
		/*background-color: yellow;*/
	}
	#box-navigation {
		font-size: 1.6rem;
	}
	#box-navigation a, #board-navigation a:link{
		text-decoration: none;
	}
	#box-navigation a:hover {
		color: black;
		text-decoration: none;
		/*background-color: yellow;*/
	}
	#view-navigation{
	
	}
	
	/* INDEX BODY */
	
	index .box-title{
		color: rgb(10, 216, 103);
		font-style: italic;
	}
	index .post{
		
	}
	index .post-seperator{
		padding-top: 1em;
		padding-bottom: 1em;
		font-weight: bold;
	}
	time {
		/*color: black;*/
		 font-weight: normal;
	}
	.post-title{
		color: rgb(160, 9, 9);
		font-weight: bold;
	}
	index .post-meta{
	
	}
	index .post-preview a:hover{
		text-decoration: none;
	}
	index ul {
		list-style-type: none; 
	}
	index .listing{}
	index .listing-seperator{
		font-weight: bold; list-style-type:none; margin-top: 1em; margin-bottom:1em;
		  padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;
	}
	index .listing-item {}
	index .row {
		max-width: 100rem;
		min-width: 100rem;
		max-height: 70rem;
		min-height: 70rem;
		margin: auto;
	}
	index .col {
		width:25rem;
		float:left;
	}
	
	/* SINGLE ARTICLE PAGE */
	
	#page {
	}
	#page a, #page a:link {
		color: rgb(219, 235, 0);
		text-decoration: underline;
	}
	#page-title{color:rgb(223, 103, 5); font-weight: bold;}
	#page-count{}
	#page-meta{}
	#page-line{color: rgb(40, 223, 255);}
	#page-entry{}
	
	/* MEDIA */
	
	.fancybox-nav span {
		width: 36px !important;
		height: 36px !important;
	}
	.fancybox-close {
		background-image: url('/static/close.svg') !important;
	}
	.screencast img {
		padding-right:1rem;
		height:1.6rem;
		vertical-align:-20%;
	}
	@media all and (min-width: 50em) {
		body {
			padding-top:2rem;
		}
	}
	@media all and (min-width: 70em) {
		body {
			padding-top:8rem;
		}
	}

