<DIV id="Left_area">
  <header>
    <table class=side_table>
      <tr>
        <td align=center>
            <a href="/index.html" class="logo">{{ site.title }}</a>
        </td>
      </tr>
      <tr>
        <td>
            <a href="/profile.html">profile</a>
            <br/><br/>
        </td>
      </tr>
      <tr>
        <td align=left>
            {% for tag in site.tags %}
              {{ tag[0] }}
              {% for post in tag[1] %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                <br/>
              {% endfor %} 
            {% endfor %}
        </td>
      </tr>
    </table>
  </header>
  </DIV>
